#![feature(profile-rustflags)]

[workspace]
members = [
    "squalr-tests",
    "squalr-engine-api",
    "squalr-engine-domain",
    "squalr-engine-session",
    "squalr-engine-operating-system",
    "squalr-engine",
    "squalr-engine-projects",
    "squalr-engine-scanning",
    "squalr-android",
    "squalr-cli",
    "squalr-tui",
    "squalr-installer",
    "squalr",
]
resolver = "3"

[profile.release]

[profile.release-with-debug]
inherits = "release"
debug = true
