<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Squalr.Engine.Scanning.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Squalr.Engine.Scanning.Properties.Settings>
            <setting name="ResultReadInterval" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="TableReadInterval" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="FreezeInterval" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="MemoryTypeNone" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MemoryTypePrivate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MemoryTypeImage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MemoryTypeMapped" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Alignment" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="RequiredWrite" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RequiredExecute" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RequiredCopyOnWrite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExcludedWrite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExcludedExecute" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExcludedCopyOnWrite" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartAddress" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EndAddress" serializeAs="String">
                <value>9223372036854775807</value>
            </setting>
            <setting name="IsUserMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EmulatorType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UseMultiThreadScans" serializeAs="String">
                <value>True</value>
            </setting>
        </Squalr.Engine.Scanning.Properties.Settings>
    </userSettings>
</configuration>