[package]
name = "squalr-android"
version = "0.1.1"
authors = ["Zachary Canann"]
edition = "2024"

[package.metadata.android]
package = "com.squalr.android"

[lib]
crate-type = ["cdylib"]

[dependencies]
squalr = { path = "../squalr" }
log = "0.4.29"

